<div class="row">
  <div class="list-group">
      <input
          type="text"
          class="form-group"
          placeholder="Cherchez un element ..."
          [(ngModel)]="search"/>
      <hr>
      <div class="row">
          <app-element-details 
          *ngFor="let element of elements | filter:search ; let i = index" 
          [index]="i"
          [selectedElement]="element"
          class="col-4"
         >
        </app-element-details>
      </div>
  </div>
</div>
<hr>
<div class="row">
  <button class="btn btn-success" routerLink="new">
      Ajouter un Film !
  </button>
  <button class="btn btn-info" (click)='goToRandom()'>
    pick random film
</button>
</div>
