<div *ngIf="selectedElement" class="card border solid">
  <div class="row">
      <div class="col-6">
          <img
              [src]="selectedElement.img"
              [alt]="selectedElement.description"
              style="max-height: 150px;"
              class="img-fluid"
          >
      </div>
      <h3 class="col-8">{{selectedElement.name}}</h3>
  </div>
  <hr>
  <div class="row">
      <p class="col-12">{{selectedElement.description}}</p>
  </div>
  <hr>
  <div class="row justify-content-center">
      <button class="btn btn-success" (click)="goToEdit()"> Edit le film</button>
      <button class="btn btn-info" (click)="ToggleFavoris()"> 
            {{isFavoris()}}
      </button>
      <button class="btn btn-danger" (click)="deleteFilm()"> supprimer le Film</button>
  </div>


  </div>
